<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mittal Sports Complex</title>
    <script src="https://kit.fontawesome.com/310e9a8751.js" crossorigin="anonymous"></script>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class = "messages">
        {% for message in messages %}
        <li>{{message}}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
    <!-- color palette: https://colorhunt.co/palette/171717444444da0037ededed -->
</body>
</html>