<div class = "navbar">
<div><a href="/"><h2>Mittal Sports Complex</h2></a></div>
{% if request.user.is_authenticated %}
<div>
    <div><a href="{% url 'landing' %}">Home</a></div>
    <div><a href="{% url 'updatesports' %}">Sports</a></div>
    <div><a href="{% url 'updatecourts' %}">Courts</a></div>
    {% if request.user.status == "staff" or request.user.isAdmin %}
    <div><a href="{% url 'updateslots' %}">Slots</a></div>
    <div><a href="{% url 'updateinventory' %}">Inventory</a></div>
    {% endif %}
    {% if request.user.isAdmin %}
    <div><a href="{% url 'assignstaff' %}">Staff</a></div>
    {% endif %}
    <div><a href="{% url 'updatebooking' %}">Book</a></div>
    <div style="border: none;"> <i class="fa fa-user" aria-hidden="true"></i> {{request.user.first_name}} {{request.user.last_name}} [{{request.user.status.upper}}]</div>
    <div><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="margin-right: 0;"></i></a></div>
</div>
{% else %}
<div>
    <div><a href="{% url 'login' %}">Login</a></div>
</div>
{% endif %}
</div>